@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb: #cbd5e1;
  --scrollbar-track: #f8fafc;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}